/* Define los colores base para el tema por defecto */
[data-md-color-scheme="default"] {
  /* --- Contenido Principal en Verde Oliva Suave --- */
  --md-default-bg-color: #f0f5f2;
  --md-default-fg-color: #2b2b2b; /* Texto oscuro para legibilidad */

  /* --- Color de acento para enlaces dentro del contenido --- */
  --md-accent-fg-color: #5a8a6f; /* Un tono más oscuro de tu verde */
}

/* --- Encabezado Superior en Blanco --- */
.md-header {
  background-color: #FFFFFF; /* Fondo blanco */
  color: #333333; /* Texto del header en gris oscuro para que sea legible */
}

/* Cambia el color del título del sitio en el header */
.md-header .md-header-nav .md-logo, .md-header .md-header-nav .md-ellipsis {
  color: #333333;
}

/* --- Barra de Navegación (Izquierda) en Teal --- */
.md-nav--primary {
  background-color: #ffffff; /* Color Teal */
}

/* Cambia el color del texto y los enlaces de la navegación a blanco */
.md-nav--primary .md-nav__link,
.md-nav--primary .md-nav__title {
  color: #FFFFFF;
}

/* Cambia el color del enlace activo en la navegación */
.md-nav--primary .md-nav__link--active {
    color: #FFFFFF;
    font-weight: bold;
}